.sj-table {
  width: 100%;
  border-collapse: collapse;
}

.sj-table tr th {
  font-weight: 400;
  text-align: left;
}

/* .sj-table tr td,
.sj-table tr {
  display: flex;
  flex-wrap: wrap;
} */

.sj-table tr:nth-child(even) {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #fcfcfc;
}

.sj-table tr:hover {
  background-color: #f5f5f5;
}

/* Add responsive styles for cells */
.sj-table tr td,
.sj-table tr th {
  /* flex-grow: 1; */
  padding: 5px;
  box-sizing: border-box;
}
