/* .log-input {
  background-color: transparent;
  box-sizing: content-box;
  height: 2rem;
  width: 100%;
  outline: none;
  border: none;

  color: aliceblue;
}
.log-icon-row {
  border: 3px solid aliceblue;
  border-top: none;
  border-left: none;
  border-right: none;

  color: aliceblue;
} */
